.modal {
  padding-top: 250px;
  z-index: 3;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
}
.modal.hidden {
  display: none;
}
.modal-edit-note {
  width: 75%;
  height: 150px;
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: auto;
  border: 1px solid rgb(117, 117, 117);
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}
.modal-edit-note a {
  align-self: flex-end;
}
.modal-edit-note label {
  margin-left: 15px;
}
.modal-edit-note input {
  vertical-align: top;
  text-align: start;
  flex-grow: 1;
  margin: 10px 15px;
}
.modal-edit-note button {
  font-family: Arial, Helvetica, sans-serif;
  outline: none;
  font-size: 1em;
  border-radius: 5px;
  width: 65px;
  height: 28px;
  margin: auto;
  color: white;
  border: none;
  background-color: #d8a310;
  box-shadow: 1.5px 1.5px 3px grey; 
}
.modal-edit-note button:hover {
  cursor: pointer;
  background-color: #c7950b;
}
.modal-edit-note button:active {
  box-shadow: none;
}